h1{
    color: rgb(125, 125, 250);
}

body{
    margin: 6px;
    background: linear-gradient(black, red, black, red, black, red);
}

nav{
    text-align: center;
    width: auto;
    background-color: white;
}

header{
    text-align: center;
    width: auto;
    background-color: ;
}

.Contenaire1{
    text-align: center;
    background: linear-gradient(white, yellow, orange, red);
}

.Sonicboom {
    text-align: center;
    height: 300px;
    width: auto;
    background-image: url(https://i.pinimg.com/originals/11/3c/37/113c37e46e35619ae54f555f1d7cc92e.gif) ;
    background-position: center;
    background-repeat: no-repeat;
}


.grand-titre{
    text-align: center;
}

header{
    text-align: center;
}

.imagedefond{
    margin: center;
    width: auto;
    height: 400px;
}

.imagedefond:hover{
    opacity: 0.5;
}

.imageproject{
    height: 100px;
    width: 100px;
}

.imageproject:hover {
    opacity: 0.5;
}

.speach {
    height: 70px;
    width: auto;
}

.Fiftyfifty {
    display: flex;
    flex-direction: row;
}

.Newjeans {
    width: auto;
    height: 20px;
}

.Metalgear{
    position: absolute;
    left: 20%;
    margin-top: -30%;
    color: white;
}

.Black-pink{
    position: relative;
    left: 40%;
}

.Dj-Snake{
    position: relative;
    left: -5%;
    margin-top: 50%;
    bottom: 80%;
    color: white;
}

.pdp{
    display: flex;
    justify-content: start;
    height: 150px;
    width: 97px;
}

.pdp:hover{
    opacity: 0.5;
    transition: filter 0.5s ease;
}

.grandes-sections {
    display: flex;
    flex-direction: row;
}

.articles {
    display: flex;
    flex-direction: row;
}

.imagearticle {
    height: 200px;
    width: 190px;
}

img {
    border-radius: 6px;
}

footer{
    width: auto;
    text-align: center;
}

.send_for_me {
    height: 350px;
    width: auto;
}

.end{
    text-align: center;
    color: white;
}


@media screen and (min-width: 1080px) {

}